/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-border {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    padding-top: 0.15rem;
}

.show-error {
    display: block;
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #2c3e50;
}

h2 {
    margin-top: 0;
    color: #2c3e50;
}

h3 {
    margin-top: 0;
    color: #2c3e50;
}

/* Tab Navigation */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #2980b9;
}

.tab-button:hover {
    background-color: #2980b9;
}

/* Tab Content */
.tab-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* Forms */
#subscriber-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1; /* Distributes equal width */
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

/* Results */
#session-result, #invoice-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

/* Invoice Result Styles */
#invoice-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-details {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.invoice-details h3 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.invoice-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.invoice-label {
    font-weight: bold;
    color: #3498db;
}

.invoice-value {
    color: #333;
}

/* Session Result Styles */
#session-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.session-details {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.session-details h3 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.session-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.session-label {
    font-weight: bold;
    color: #3498db;
}

.session-value {
    color: #333;
}

.hidden {
    display: none;
}

.info-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: grey;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.tool {
    display: flex;
    gap: 8px;
}

.tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.info-container {
    position: relative;
    display: flex;
    padding-top: 7px;
}

.info-container:hover .tooltip {
    display: block;
}

#subscriber-table th,
#subscriber-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#subscriber-table th {
    background-color: #3498db;
    color: white;
}